body {
    min-width: 1170px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

h1, h3 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
}


.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header {
    width: 1170px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 45px;
}

.mainNavigation,
.footerNavigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerLogo {
    margin: 0 auto;
    margin-bottom: 45px;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    color: #000000;
}

.siteNavigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.siteNavigation a {
    display: block;
    color: #000000;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.siteNavigation a:hover {
    color: #ff7931;
    text-decoration: underline;
}

main {
    margin: 0 auto;
}

.headline {
    margin-bottom: 45px;
}

.headlineContainer {
    position: relative;
    padding-top: 135px;
    padding-bottom: 50px;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url("img/underwater_hotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.headlineContainer:hover::before {
    content: "НОВОЕ";
    position: absolute;
    padding: 5px 25px;
    top: 0;
    left: 5rem;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #FF7931;
    letter-spacing: 2px;
}

.headlineTitle {
    display: block;
    position: relative;
    margin-top: 0;
    margin-bottom: 140px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.headlineTitle::after {
    content: "";
    position: absolute;
    top: -85px;
    right: 50%;
    width: 55px;
    height: 55px;
    background-color: #FF7931;
    background-image: url("img/hotel_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.headlineText {
    display: block;
    width: 460px;
    margin: auto;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.review {
    width: 1170px;
    margin: 0 auto;
}

.reviewTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.reviewList {
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    list-style: none;
}

.reviewItem {
    margin-right: 30px;
    width: 370px;
}

.reviewItem:nth-child(3n) {
    margin-right: 0;
}

.reviewItem a {
    display: flex;
    flex-direction: column;
    color: #000;
}

.reviewItem h3 {
    order: 1;
    margin: 0;
    font-size: 23px;
}

.reviewItem a:hover h3 {
    color: #ff7931;
}

.reviewItemText {
    order: 2;
}

.ticketBackground {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 556px;
    background-color: #F7F7F7;
    z-index: -2;
}

.ticketBackgroundRound {
    position: absolute;
    margin: 0 24.5%;
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 50%;
    z-index: -1;
}

.ticketBackgroundRound:before {
    content: "";
    padding-top: 100%;
    float: left;
}

.ticketContainer {
    padding: 30px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.ticketTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.ticketList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.ticketListItem {
    position: relative;
    margin-bottom: 25px;
}

.ticketListItem:nth-child(1):after,
.ticketListItem:nth-child(2):after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 135px;
    width: 100px;
    height: 1px;
    opacity: 0.4;
    background-color: rgba(0, 0, 0, 0.2);
    transform: rotate(0.1deg);
}

.ticketListItem h3 {
    margin-bottom: 10px;
    font-size: 23px;
}

.ticketButton {
    position: relative;
    display: block;
    padding: 15px 30px;
    padding-right: 60px;
    color: #ffffff;
    background-color: #FF7931;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
}

.ticketButton:hover {
    text-decoration: underline;
}

.ticketButton::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 30px;
    width: 16px;
    height: 16px;
    background-image: url("img/arrow_forward.svg");
    background-position-x: center;
    background-position-y: -3px;
}

footer {
    background-color: #575757;
    padding-bottom: 45px;
}

.footerContainer {
    width: 1170px;
    margin: 0 auto;
}

.footerLogo {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 1px;
    color: #ffffff;
}

.footerNavigation .siteNavigation {
    position: relative;
    margin-bottom: 45px;
}

.footerNavigation .siteNavigation::after {
    content: "";
    position: absolute;
    top: 65px;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: 0.4;
}

.footerNavigation .siteNavigation a {
    display: block;
    color: #ffffff;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.footerNavigation .siteNavigation a:hover {
    color: #ff7931;
    text-decoration: underline;
}

.footerSocial {
    width: 170px;
    margin: 0 auto;
    margin-top: 40px;
}

.footerSocial ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47px;
    height: 47px;
    background-color: #ffffff;
}

.social:hover {
    background-color: #ff7931;
}